body {
    font-family: 'Arial', sans-serif;
    background-color: #e6f7ff; /* Svetlo plava nijansa */
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Helvetica', sans-serif;
}

h1 {
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.chart {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.chart:hover {
    transform: scale(1.02);
}

.btn-info {
    background-color: #3498db;
    border-color: #2980b9;
}

.btn-info:hover {
    background-color: #2980b9;
    border-color: #2471a3;
}

.btn-info:focus {
    outline: none;
    box-shadow: 0px 0px 5px 2px rgba(52, 152, 219, 0.75);
}

.list-group-item {
    font-size: 1.2em;
    margin-bottom: 10px;
    padding: 15px;
}

.card {
    border: none;
    background-color: #f9fafb;
}

.text-primary {
    color: #0056b3 !important;
}

.text-success {
    color: #27ae60 !important;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 1.8rem;
    }

    .btn-info {
        font-size: 0.9rem;
        padding: 8px 12px;
    }
}

.btn-active {
    background-color: #2ecc71; /* Svetlo zelena za aktivno dugme */
    border-color: #27ae60; /* Tamnija zelena za obrub */
    color: white; /* Bela boja teksta */
}

.btn-active:hover {
    background-color: #27ae60; /* Još tamnija zelena za hover efekat */
    border-color: #229954;
}
